<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NOVO ADMIN</title>
</head>
<body>

    <div>
        <h2>Cadastro de novo administrador</h2>

        <form method="POST" action="/admins/register" onsubmit="return confirm('Confirma ação?')">
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" id="name" name="name" required placeholder="Digite seu nome">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required placeholder="Digite seu email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</body>
</html>