<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UPDATE ADMIN</title>
</head>
<body>

    <div>
        <h2>Atualização de administrador</h2>

        <form method="POST" th:action="@{/admins/update/{id}(id=${admin.idAdmin})}" onsubmit="return confirm('Confirm?')">
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" id="name" name="name" required th:value="${admin.name}">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required th:value="${admin.email}">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required th:value="${admin.password}">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</body>
</html>